body{
	background: #F5F5F5
}
#top{
	background: #72667c;
	height: 40px;
	width: 700px;
    margin: 0 auto;
    padding: 40px;
   

}
#top.fixed #search
{
	float:left;
	margin: 20px;

}
#top h1
{
	color: red;
}
#menutop
{
	background: #c8b3da;
}
#menutop li{
	margin:20px;
	padding: 0;
	list-style:none;
	float:left;

}
#menutop
{

}